= form_tag sessions_path do
  = text_field_tag :email
  %br
  = password_field_tag :password
  = submit_tag "Anmelden", class: "btn btn-default light-green-button"
  = link_to "Registrieren", new_user_path, class: "btn btn-default light-green-button"
