= form_for(@entry) do |f|
  .field.form-group
    = f.label :food
    %br
    = f.text_field :food, :autofocus=> true
  .field.form-group
    = f.label :calories
    %br
    = f.text_field :calories
  .field.form-group
    = f.label :date
    %br
    = f.date_select :date
    %br
    %br
  .actions= f.submit