= form_for(@entry) do |f|
  .field.form-inline
    .form-group
      = f.text_field :date, hidden: true
      = f.text_field :food, :autofocus=> true, :placeholder => "Food", class: 'form-control'
      = f.text_field :calories, :placeholder => "kcal", :style => "text-align: Right", class: 'form-control'
      = f.submit "Speichern", :id => "", :style => "display: none;"
      %br
      %br
