%h1 Health Challenge
%ul.nav.nav-tabs
  - @week.each do |day|
    %li{:role => "presentation", class: (day[:selected] ? 'active' : '')}
      = link_to day[:name], entries_path(date: day[:date])
%br
= render 'form'
%br
%table
  %tbody
    - @entries.each do |entry|
      %tr
        %td.food= entry.food
        %td.calories= entry.calories
        %td
          = link_to entry_path(entry), :method => :delete, data: { confirm: 'Are you sure?' } do
            %span.text-danger.glyphicon.glyphicon-trash{:'aria-hidden' => "true"}
- total = 0
- @entries.each do |entry|
  - total += entry.calories
%br
%br
%strong= "Total:"
%strong= total
