%h1 Health Challenge
%br
%ul.nav.nav-tabs
  - (@date.beginning_of_week..@date.end_of_week).each do |date|
    %li{:role => "presentation", class: (date == @date ? 'active' : '')}
      = link_to entries_path(date: date), class: 'text-center' do
        = l(date, format: :dayname)
        %br
        %strong= User::CalorieCalculator.new(current_user, date).remaining

%br
= render 'form'
%br
%table
  %tbody
    - @entries.each do |entry|
      %tr
        %td.food= entry.food
        %td.calories= entry.calories
        %td
          = link_to entry_path(entry), :method => :delete, data: { confirm: 'Are you sure?' } do
            %span.text-danger.glyphicon.glyphicon-trash{:'aria-hidden' => "true"}
%br
%br

%strong= "Verbleibend:"

- total = current_user.target_calories
- @entries.each do |entry|
  - total -= entry.calories
= total