- content_for(:title, 'Health Challenge')
%div.navbar
  %ul.nav.nav-tabs
    - (@date.beginning_of_week..@date.end_of_week).each do |date|
      %li{:role => "presentation", class: (date == @date ? 'active' : '')}
        = link_to entries_path(date: date), class: 'text-center green' do
          = l(date, format: :dayname_abbreviation)
          %br
          - if User::CalorieCalculator.new(current_user, date).daily_calories >= current_user.target_calories
            %strong.pink= User::CalorieCalculator.new(current_user, date).daily_calories
          - else
            %strong.green= User::CalorieCalculator.new(current_user, date).daily_calories
=render('form')
%table.entries
  %tbody
    %tbody
      - @entries.each do |entry|
        - if entry.info_notice?
          %tr
            %td.text-muted(colspan=3)= entry.food
        - else
          %tr
            %td.food= entry.food
            %td.calories{class: calories_class(entry)}= entry.calories
            %td.action
              = link_to entry_path(entry), :method => :delete, data: { confirm: 'Are you sure?' } do
                %span.glyphicon.glyphicon-trash.trash.grey{:'aria-hidden' => "true"}
                %br
      %tr
        %td.total.space= "Total"
        %td.calories.space
          - if User::CalorieCalculator.new(current_user, @date).daily_calories > current_user.target_calories
            %strong.pink= User::CalorieCalculator.new(current_user, @date).daily_calories
          - else
            %strong.green= User::CalorieCalculator.new(current_user, @date).daily_calories
        %td


:coffee
  $ ->
    $('a.btn.btn-default.glyphicon.glyphicon-calendar').datepicker(todayHighlight: true, weekStart: 1).on 'changeDate', (e) ->
      day = e.date.getDate()
      month = e.date.getMonth() + 1
      year = e.date.getFullYear()
      window.location = "/entries?date=" + year + "-" + month + "-" + day
