%div.menu
  %a.btn.btn-default{:href => entries_path(date: Date.current), :role => "button"} Today
  %a.btn.btn-default.glyphicon.glyphicon-calendar
  = link_to send_message_entries_path, method: :post do
    %span.btn.btn-default.glyphicon.glyphicon-bullhorn
  = link_to edit_user_path(current_user) do
    %span.btn.btn-default.glyphicon.glyphicon-user
%br
%br
%h1 Health Challenge
%container.navbar
  %ul.nav.nav-tabs
    - (@date.beginning_of_week..@date.end_of_week).each do |date|
      %li{:role => "presentation", class: (date == @date ? 'active' : '')}
        = link_to entries_path(date: date), class: 'text-center' do
          = l(date, format: :dayname_abbreviation)
          %br
          - if User::CalorieCalculator.new(current_user, date).remaining < 0
            %strong.text-danger= User::CalorieCalculator.new(current_user, date).remaining
          - else
            %strong.text-success= User::CalorieCalculator.new(current_user, date).remaining
%br
%br
%div.form
  = render 'form'
%br
%br
%br
%div.table
  %table
    %tbody
      - @entries.each do |entry|
        %tr
          %td.food= entry.food
          - if entry.calories < 0
            %td.calories.text-success= entry.calories
            %td
              = link_to entry_path(entry), :method => :delete, data: { confirm: 'Are you sure?' } do
                %span.glyphicon.glyphicon-trash.grey{:'aria-hidden' => "true"}
          - else
            %td.calories.text-danger= entry.calories
            %td.trash
              = link_to entry_path(entry), :method => :delete, data: { confirm: 'Are you sure?' } do
                %span.glyphicon.glyphicon-trash.grey{:'aria-hidden' => "true"}
      %tr
        %td
        %td.calories
          %br
          - if User::CalorieCalculator.new(current_user, params[:date]).remaining < 0
            %strong.text-danger= User::CalorieCalculator.new(current_user, params[:date]).remaining
          - else
            %strong.text-success= User::CalorieCalculator.new(current_user, params[:date]).remaining

:coffee
  $ ->
    $('a.btn.btn-default.glyphicon.glyphicon-calendar').datepicker(todayHighlight: true, weekStart: 1).on 'changeDate', (e) ->
      day = e.date.getDate()
      month = e.date.getMonth() + 1
      year = e.date.getFullYear()
      window.location = "/entries?date=" + year + "-" + month + "-" + day
