= form_for(@user) do |f|
  .field.form-group
    = f.label :email
    %br
    = f.text_field :email, :autofocus=> true
    %br
    = f.label :slack_url
    %br
    = f.text_field :slack_url
    %br
    = f.label :target_calories
    %br
    = f.text_field :target_calories
    %br
    %br
    = f.submit "Speichern", :id => ""