= form_for(@user) do |f|
  .field.form-group
    = f.label :name
    = f.text_field :name, :autofocus=> true
    %br
    %br
    = f.label :email
    = f.text_field :email
    %br
    %br
    = f.label :password
    = f.text_field :password
    = f.submit "Speichern", :id => "", :style => "display: none;"