!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %title CalorieTracker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600", :rel => "stylesheet", :type => "text/css"}
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      = csrf_meta_tags
  %body
    - if logged_in?
      %nav.navbar.navbar-default.navbar-static-top
        .row
          .col-xs-6
            %a.btn.btn-default{:href => entries_path(date: Date.current), :role => "button"} Today
            %a.btn.btn-default.glyphicon.glyphicon-calendar
          .col-xs-6.text-right
            Signed in as #{current_user.name} –
            = link_to 'Logout', sessions_path, method: :delete
            = link_to edit_user_path(current_user) do
              %span.btn.btn-default.glyphicon.glyphicon-user
    .container
      %h1.white= yield(:title)

      = flash[:notice] if flash[:notice].present?

      .container-white
        = yield
