!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %title CalorieTracker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600", :rel => "stylesheet", :type => "text/css"}
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      = csrf_meta_tags
  %body
    - if logged_in?
      %nav.navbar.navbar-default.navbar-static-top
        .container
          %nav.navbar-text.navbar-right
            Signed in as #{current_user.name} –
            = link_to 'Logout', sessions_path, method: :delete
    .container
      = flash[:notice] if flash[:notice].present?
      = yield
